---
export interface Props {
	title?: string;
	body?: string;
	href: string;
}
const { href, title, body } = Astro.props;
---

<li
	class="transition bg-white py-4 px-3 lg:px-6 rounded shadow-sm hover:shadow-md outline outline-2 outline-transparent hover:outline-blue-500">
	<a href={href}>
		<h2 class="font-medium text-lg mb-1">
			<slot name="title">{title}</slot>
		</h2>
		<div id="body">
			<slot>
				<p>{body}</p>
			</slot>
		</div>
	</a>
</li>

<style>
	#body> :global(p) {
		margin: 0.5rem 0;
	}
</style>